.select-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    label{
        position: relative;
        width: 100%;
        padding-bottom: 10px;
        padding-left: 25px;
        font-size: 16px;
        font-weight: 400;
    }

    .selectric-wrapper{
        position: relative;
        width: 100%;
    }

    .selectric{
        position: relative;
        min-width: 100%;
        width: 100%;
        height: 60px;
        padding: 0 25px;
        outline: none;
        border: 0;
        background: $black;
        border-radius: 36px;

        .label{
            position: relative;
            display: flex;
            align-items: center;
            flex: 1 1 auto;
            height: 100%;
            margin: 0;
            padding: 0;
            font-size: 16px;
            user-select: none;
            font-weight: 400;
            border: 0;

            span{
                padding-right: 5px;
            }
        }

        .button{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 25px;
            top: 0;
            width: auto;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: transparent;
            text-align: center;
            font: inherit;
            font-size: 0;
            text-indent: -9999;

            &:after{
                display: none;
            }

            &:before {
                content: "\e910";
                font-family: 'icons';
                font-size: 6px;
                line-height: 1;
                transition: transform 0.2s ease-in-out;
            }
        }
    }

    .selectric-open .selectric .button {
        &:before {
            transform: scale(1, -1);
        }
    }

    .selectric-items {
        display: none;
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        z-index: -1;
        box-shadow: none;
        border: 0;
        background: transparent;

        ul{
            display: flex;
            flex-direction: column;
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            box-shadow: $shadow;
            background: $black;
            border-radius: 16px;

            @include scrollbar(4px);
        }

        li {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            min-height: 40px;
            padding: 0 25px;
            background: transparent;
            font-size: 13px;
            line-height: 1;

            &:hover {
                background: $black
            }

            &.highlighted{
                background: $secondary;
            }
        }

        .selectric-scroll{
            overflow: visible;
        }
    }

    .selectric-open .selectric-items {
        width: 100% !important;
        display: block;
    }
}
