.cases-gallery {
    padding: 130px 0;
    background-color: #f7fafe;

    @include media-sm{
        padding: 65px 15px;
    }
}

.cases-carousel{
    margin-top: 50px;
    margin-left: 30px;

    @include media-sm{
        margin-left: 0;
    }

    .owl-nav{
        margin-top: 65px;

        @include media-sm{
            margin-top: 30px;
        }
    }
}

.cases-carousel__item{
    box-shadow: $shadow-styled;
    border-radius: $corner;
    overflow: hidden;

    @include media-sm{
        width: 100% !important;
    }
}
